




<style>

    @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
    *{
        margin: 0;
        padding: 0;
        outline: none;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    body{
        background-size: cover;
        background-repeat: no-repeat;
        width: 900px;
        font-family: 'Poppins', sans-serif;
        background-image: url('certificate.pdf - Page 1 of 1.svg');
        font-size: 1rem;

    }

    .text-center{
        text-align: center;
    }

    .preview {
        padding-top: 1rem;
    }

    .certificate-download-f {
        gap: 9rem;
        display: flex;
        padding-top: 21.5rem;
        position: fixed;
        width: 100%;
    }

    .certificate-f-p-download {
        margin-left: 11.5rem;
        width: 13.5rem;
    }

    .certificate-s-p-download {
        width: 12.5rem;
        margin-left: 28.9rem;
    }
    .certificate-th-p-download {
        margin-left: 46rem;
        width: 13.4rem;
    }

    .certificate-fr-p-download{
        margin-left: 65.5rem;
        width: 9.5rem;
    }
    .mt-1px {
        margin-top: 1px;
        position: fixed;
    }

    .certificate-download-s {
        gap: 9rem;
        display: flex;
        padding-top: 25rem;
        position: fixed;
    }

    .certificate-download-s-p-f {
        margin-left: 12.2rem;
        position: fixed;
        width: 13.6rem;
    }

    .certificate-download-s-p-s {
        margin-left: 36rem;
        width: 14rem;
    }


    .certificate-number-d {
        position: fixed;
        margin-top: 45.5rem;
        margin-left: 14rem;
    }

</style>
<div class="preview">
  <b>
  <div class="certificate-download-f">
    <div class="certificate-f-p-download text-center mt-1px">
      <p ><%= @certificate.name %></p>
    </div>
    <div class="mt-1px certificate-s-p-download text-center">
      <p ><%= @certificate.address %></p>
    </div>
    <div class="mt-1px certificate-th-p-download text-center">
      <p ><%= @certificate.zila %></p>
    </div>
    <div class="mt-1px certificate-fr-p-download text-center">
      <p ><%= @certificate.lok_sabha %></p>
    </div>
  </div>

  <div class="certificate-download-s">
    <div class="certificate-download-s-p-f text-center">
      <p ><%= @certificate.state %></p>
    </div>

    <div class="certificate-download-s-p-s text-center">
      <p><%= @certificate.date.strftime("%d/%m/%Y") %></p>
    </div>
  </div>
    <div class="certificate-number-d">
      <p><%= @certificate.certificate_number %></p>
    </div>
  </b>
</div>

