<%= form_with(model: @certificate, url: create_certificate_path, method: :post, class: "form-signin") do |f| %>
  <%= f.hidden_field :user_id, value: @user.id %>
  <%= f.hidden_field :date, value: Date.today %>
  <div class="user-form-details">
    <div class="bjp-logo-div">
      <%= image_tag('BJP Logo 1.svg', class: 'bjp-logo-form', alt: 'bjp logo') %>
      <p style="margin-left: 0.5rem;" class="party-name party-color">भाजपा</p>
    </div>
    <main class="form-sign-in">
      <h1 class="h3">Certificate</h1>
      <div class="form-floating">
        <%= f.text_field :name, class: "form-control", id: "floatingInput", placeholder: "Name", required: true, oninput: "sanitizeName(this)" %>
        <%= f.label :name, class: "floatingInput  party-color" %>
      </div>
      <div class="form-floating mt-1">
        <%= f.text_field :address, class: "form-control", id: "floatingPassword", placeholder: "Address", required: true %>
        <%= f.label :address, class: "floatingPassword  party-color" %>
      </div>
      <div class="form-floating mt-1">
        <%= f.text_field :vidhan_sabha, class: "form-control", id: "floatingPassword", placeholder: "Vidhan Sabha", required: true, oninput: "sanitizeName(this)" %>
        <%= f.label :vidhan_sabha , class: "floatingPassword  party-color" %>
      </div>
      <div class="form-floating mt-1">
        <%= f.text_field :zila, class: "form-control", id: "floatingPassword", placeholder: "Zila", required: true, oninput: "sanitizeName(this)" %>
        <%= f.label :zila, class: "floatingPassword  party-color" %>
      </div>
      <div class="form-floating mt-1">
        <%= f.text_field :lok_sabha, class: "form-control", id: "floatingPassword", placeholder: "Lok Sabha", required: true, oninput: "sanitizeName(this)" %>
        <%= f.label :lok_sabha, class: "floatingPassword  party-color" %>
      </div>
      <div class="form-floating mt-1">
        <%= f.text_field :state, class: "form-control", id: "floatingPassword", placeholder: "State", required: true, oninput: "sanitizeName(this)" %>
        <%= f.label :state, class: "floatingPassword  party-color" %>
      </div>


      <%= f.submit "Submit", class: "w-100 party-color btn btn-lg" %>
      <div>
        <p class="copyright pb-2">
          Modi Mitra
        </p>
      </div>

    </main>
    <div class="design-div-form">

    </div>
  </div>

<% end %>


 
  