

<div class="Certificate-preview">

  <div class="certificate-f">

    <p style="" class="certificate-f-p"><%= @certificate.name %></p>
    <p class="certificate-s-p"><%= @certificate.address %></p>
    <p class="certificate-th-p"><%= @certificate.zila %></p>
    <p class="certificate-fr-p"><%= @certificate.lok_sabha %></p>
  </div>

  <div class="certificate-t">
    <p class="certificate-t-f-p"><%= @certificate.state %></p>
    <p class="certificate-t-s-p"><%= @certificate.date ? @certificate.date : "sd" %></p>
  </div>



</div>