<div class="Certificate-preview">
<!--    <div><%#= link_to "Download Certificate", "certificate/download.pdf?u=#{@user.id}&c=#{@certificate.id}", class: "btn btn-primary", download: "certificate.pdf" %></div>-->
      <div>
        <%= link_to "Download Certificate", download_certificate_path(u:@user.id, c: @certificate.id) , class: "btn download-btn-custom", download: "certificate.pdf" %>
      </div>


  <div class="certificate-f">
    <div class="certificate-f-p text-c">
      <p style="" ><%= @certificate.name %></p>
    </div>

    <div class="certificate-s-p text-c">
      <p ><%= @certificate.address %></p>
    </div>

    <div class="certificate-th-p text-c">
      <p ><%= @certificate.zila %></p>
    </div>

    <div class="certificate-fr-p text-c">
      <p ><%= @certificate.lok_sabha %></p>
    </div>

  </div>

  <div class="certificate-t">
    <div class="certificate-t-f-p text-c">
      <p ><%= @certificate.state %></p>
    </div>

    <div class="certificate-t-s-p text-c">
      <p ><%= @certificate.date ? @certificate.date : Date.today %></p>
    </div>

  </div>

</div>
