<%= form_with(model: User.new, url: sign_in_path, method: :post, class: "form-signin") do |f| %>
  <div class="user-form">
    <div class="bjp-logo-login-div">
      <%= image_tag('BJP Logo 1.svg', class: 'bjp-logo-login', alt: 'bjp logo') %>
      <p style="margin-left: 1.5rem;" class="party-name party-color">भाजपा</p>
    </div>


    <div style="height: 40vh">
      <%= image_tag('twitter_1 1.svg', class: 'modi-ji-photo', alt: 'modi ji') %>
    </div>
    <main style="height: 50vh" class="form-sign-in">
      <h1 class="h3">Login</h1>

      <% if @invalid_otp.present?  %>
        <div class="invalid-otp-msg">
          <P><%= @invalid_otp %></P>
        </div>
        <% end %>

      <div class="form-floating <%= @margin_up %>">
        <%= f.text_field :phone_number, class: "form-control", id: "floatingInput", maxlength: "10" ,minlength: "10" , placeholder: "Phone Number", required: true %>
        <%= f.label :phone_number, class: "floatingInput  party-color" %>
      </div>

      <div class="form-floating mt-1">
        <%= f.text_field :otp, class: "form-control", id: "floatingPassword", maxlength: "6" ,minlength: "6" , placeholder: "OTP",required: true   %>
        <%= f.label :otp, class: "floatingPassword  party-color" %>
      </div>

      <%= f.submit "Submit", class: "w-100 party-color btn btn-lg" %>
      <div>
        <p class="copyright pb-2">
          Modi Mitra
        </p>
      </div>

    </main>
    <div class="design-div">

    </div>
  </div>

<% end %>


 
  