<%= form_with(model: User.new, url: sign_in_path, method: :post, class: "form-signin") do |f| %>
  <div class="user-form">
    <div class="bjp-logo-login-div">
      <img class="bjp-logo-login" src="https://storage.googleapis.com/vts-public/BJP%20Logo%201.svg" alt="bjp logo">
      <p style="margin-left: 1.5rem;" class="party-name party-color">भजापा</p>
    </div>


    <div style="height: 40vh">
      <img class="modi-ji-photo" src="https://storage.googleapis.com/vts-public/twitter_1%201.svg" />
    </div>
    <main style="height: 40vh" class="form-sign-in">
      <h1 class="h3">Login</h1>
      <div class="form-floating mt-5">
        <%= f.text_field :phone_number, class: "form-control", id: "floatingInput", maxlength: "10" ,minlength: "10" , placeholder: "Phone Number", required: true %>
        <%= f.label :phone_number, class: "floatingInput  party-color" %>
      </div>
      <div class="form-floating mt-1">
        <%= f.text_field :otp, class: "form-control", id: "floatingPassword", maxlength: "6" ,minlength: "6" , placeholder: "OTP" %>
        <%= f.label :otp, class: "floatingPassword  party-color" %>
      </div>

      <%= f.submit "Submit", class: "w-100 party-color btn btn-lg" %>
      <div>
        <p class="copyright pb-2">
          Modi Mitra
        </p>
      </div>

    </main>
    <div class="design-div">

    </div>
  </div>

<% end %>


 
  