<!DOCTYPE html>
<html>
  <head>
    <title>Certificator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var alertElements = document.querySelectorAll('.alert');

            alertElements.forEach(function(element) {
                element.addEventListener("click", function() {
                    this.style.display = 'none';
                });
            });
        });
    </script>
  </head>

  <body>
  <%# if flash[:alert] %>
<!--    <div class="alert alert-extra alert-danger">-->
      <%#= flash[:alert] %>
<!--    </div>-->
  <%# end %>

  <%# if flash[:notice] %>
<!--    <div class="alert alert-extra alert-info">-->
      <%#= flash[:notice] %>
<!--    </div>-->
  <%# end %>
    <%= yield %>
  </body>
</html>
