<!DOCTYPE html>
<html>
  <head>
    <title>Modi Mitra</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var alertElements = document.querySelectorAll('.alert');

            alertElements.forEach(function(element) {
                element.addEventListener("click", function() {
                    this.style.display = 'none';
                });
            });
        });


        function sanitizePhoneNumber(inputField) {
            inputField.value = inputField.value.replace(/\D/g, ''); // Replace non-numeric characters with an empty string

            // Check if the first digit is greater than 4
            if (inputField.value.length > 0 && parseInt(inputField.value[0]) <= 4) {
                inputField.value = ''; // Clear the input if the first digit is not greater than 4
            }
        }

        function sanitizeName(inputField) {
            inputField.value = inputField.value.replace(/[^A-Za-z\u0900-\u097F\s]/g, ''); // Replace non-English/Hindi characters and non-space whitespace with an empty string
        }
    </script>
  </head>

  <body>
  <%# if flash[:alert] %>
<!--    <div class="alert alert-extra alert-danger">-->
      <%#= flash[:alert] %>
<!--    </div>-->
  <%# end %>

  <%# if flash[:notice] %>
<!--    <div class="alert alert-extra alert-info">-->
      <%#= flash[:notice] %>
<!--    </div>-->
  <%# end %>
    <%= yield %>
  </body>
</html>
