<!DOCTYPE html>
<html>
<head>
  <title>Certificator</title>
  <meta name="viewport" content="width=1200">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "pdf", "data-turbo-track": "reload" %>
  <%= csp_meta_tag %>

</head>

<body>

<%= yield %>
</body>
</html>
